@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}
body {
  background-color: #EDE6E3;
}
.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  display: block;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #1A936F;
  overflow-x: hidden;
  transform: translateX(0px);
  transition-duration: 0.5s;
}
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 2px 2px #0002;
}
.sidebar a {
  padding: 20px;
  text-decoration: none;
  color: #EDE6E3;
  display: block;
}

.sidebar a:hover {
  background-color: #2A2B2A;
}
.navtitles {
  padding: 20px;
  text-decoration: none;
  background-color: #2A2B2A;
  color: #EDE6E3;
  display: block;
}
i.fa-solid.fa-xmark {
  padding: 26px 35px;
  font-size: 25px;
  color: rgb(237, 230, 227);
  display: none;
  float: right;
  cursor: pointer;
}
section {
  margin-left: 160px;
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}
.first {
  padding-top: 1em;
}
.home-section {
  position: relative;
  max-width: 100%;
  transition: all 0.5s ease;
  padding-bottom: 3em;
}
.home-section .sectors .closese {
  position: relative;
  left: 260px;
  width: calc(100% - 260px);
  transition: all 0.5s ease;
  padding-bottom: 3em;
}
.sidebar.close ~ .home-section {
    left: 78px;
    height: 100%;
}
.home-section .home-content{
  height: 60px;
  display: none;
  align-items: center;
}
.home-section .home-content .bx-menu,
.home-section .home-content .text{
  color: #11101d;
  font-size: 35px;
}
.home-section .home-content .bx-menu{
  margin: 0 15px;
  cursor: pointer;
}
.home-section .home-content .text{
  font-size: 26px;
  font-weight: 600;
}
.sub-title {
    border-bottom: 2px solid #000;
    width: fit-content;
    text-align: center;
    padding-bottom: 2px;
    margin-left: 10px;
}
.txt {
    display: block;
    padding: 0.5em 1em;
}
.oreder, .unoreder {
  padding: 0.5em 1.5em;
  margin: 0 30px;
  background-color: #DADAD9;
  color: #000;
  width: fit-content;
  max-width: calc(100% - 60px);
  overflow-x: auto;
}

.codeing {
  margin: 0 30px;
  background-color: #2A2B2A;
  color: #EDE6E3;
  width: fit-content;
  padding-right: 10px;
  max-width: calc(100% - 60px);
  overflow-x: auto;
}

@media screen and (max-width: 650px) {
  .home-section .home-content {
    display: flex;
    background-color: #EDE6E3;
    max-width: 100%;
    z-index: 1;
  }
  .transform {
    transform: translateX(-1000px);
    transition-duration: 0.5s;
    z-index: 1000;
    width: 250px;
  }
  .navtitles {
    display: inline-block;
    padding: 25px;
    font-size: 20px;
  }
  .navtitles {
    background-color: unset;
  }
  .sidebar {
    width: 250px;
  }
  .sidebar a {
    padding: 20px 40px;
  }
  i.fa-solid.fa-xmark {
    display: inline-block;
  }
  section {
    margin-left: unset;
  }
}
